<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <appSettings>
        <add key="ConString" value="server=localhost;user=root;password=Maybelater9$;database=TestQuickCart" />
        <add key="gmail_password" value="LifeLine@11" />
        <add key="gmail" value="lifelineteam11@gmail.com" />
    </appSettings>


</configuration>
