<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/e3ce5f8b-b373-4cfd-b932-c4d9acc3ef88/resourceGroups/Quickart_group/providers/Microsoft.Web/sites/Quickart</ResourceId>
    <ResourceGroup>Quickart_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://quickart.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://quickart.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Quickart</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>